button {
    padding: 5px 20px;
    background-color: white;
    margin: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    outline-width: 0;
}

button:active {
    background-color: #dcdcdc;
}